@model IEnumerable<Bookstore.Models.Penalty>
@{
    ViewData["Title"] ="Multas aplicadas";
    var nextPage = ViewData["next_page"];
    var prevPage = ViewData["prev_page"];
    var actualPage = ViewData["actual_page"];
    var totalPages = int.Parse(ViewData["total_pages"].ToString());
}

<main class="h-full pb-16 overflow-y-auto">
    <div class="container grid px-0 mx-auto">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 ">
            Multas aplicadas
        </h2>

        <!-- TABELA  -->
        <div class="w-full p-3 overflow-hidden bg-white rounded-lg shadow-xs">
            
            @* <div class="p-2 d-flex justify-content-between align-items">
              <div>
                <a class="btn btn-primary" asp-action="SelectBook">Novo Empréstimo</a>
              </div>
              
            </div> *@


            <div class="border rounded">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nº do Emprestimo</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Livro</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data </th>
                    <th scope="col">Estado </th>
                    <th scope="col">Açções</th>
                  </tr>
                </thead>
                <tbody>
                    @if(Model != null){
                  @foreach(var item in Model){
                    
                    <tr style="color: black;">
                        <td>@item.Id</td>
                        <td> @item.Borrowing.Id</td>
                        <td> @item.Borrowing.Client.Name</td>
                        <td> @item.Borrowing.Book.Title</td>
                        <td> @item.Value</td>
                        <td> @item.DateAplied</td>
                        <td>
                        @if(item.Solved==true)
                        {
                            <span class="text-success">Pago</span>    
                        }else{
                            <span class="text-danger">Não Pago</span>
                        }
                        </td>
                        <td class="d-flex">
                            <a  class=" btn  btn-primary btn-sm mr-3"
                                asp-action="Show" asp-route-id="@item.Id">
                                    Detalhes
                            </a>
                            @if(item.Solved != true)
                            {
                                <a  class=" btn  btn-success btn-sm mr-3"
                                asp-action="Pay" asp-route-id="@item.Id">
                                    Pagar
                                </a>
                            }   
                        </td>
                    </tr>
                    }
                    }else{
                        <tr>
                            <td colspan="3" class="text-center">Sem Resultados</td>
                        </tr>
                    }
                </tbody>
              </table>
            </div>
            <div class="mt-2 p-2 w-full d-flex justify-content-center">
              <div class="">
                      <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          @if((int)prevPage==(int)actualPage)
                          {
                            <li class="page-item disabled"><a class="page-link " asp-action="Index" asp-route-page="@prevPage">Anterior</a></li>
                          }else{
                            <li class="page-item"><a class="page-link  " asp-action="Index" asp-route-page="@prevPage">Anterior</a></li>
                          }
                          @for(int i = 1;i <= totalPages; i++)
                          {
                            @if(actualPage.ToString() == i.ToString())
                            {
                              <li class="page-item bg-primary  text-light active"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li> 
                            }
                            else{
                              <li class="page-item  text-light"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li> 
                            }
                          }
                          @if((int)nextPage>totalPages)
                          {
                            <li class="page-item disabled"><a class="page-link  " asp-action="Index" asp-route-page="@nextPage">Próximo</a></li>
                          }else{
                            <li class="page-item"><a class="page-link  " asp-action="Index" asp-route-page="@nextPage">Próximo</a></li>
                          }
                          
                        </ul>
                      </nav>
              </div>
            </div>

        </div>


    </div>
</main>