@model IEnumerable<Bookstore.Models.Client>
@{
    ViewData["Title"] ="Lista de Clientes";
    var nextPage = ViewData["next_page"];
    var prevPage = ViewData["prev_page"];
    var actualPage = ViewData["actual_page"];
    var totalPages = int.Parse(ViewData["total_pages"].ToString());
}

<main class="h-full pb-16 overflow-y-auto">
    <div class="container grid px-0 mx-auto">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 ">
            Lista de Clientes
        </h2>

        <!-- TABELA  -->
        <div class="w-full p-3 overflow-hidden bg-white rounded-lg shadow-xs">
            
            <div class="p-2 d-flex justify-content-between align-items">
              <div>
                <a class="btn btn-primary" asp-action="Create">Adicionar Cliente</a>
              </div>
              
            </div>


            <div class="border rounded">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Data de Nascimento</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acções</th>
                  </tr>
                </thead>
                <tbody>
                    @if(Model != null){
                  @foreach(var item in Model){
                    <tr style="color: black;">
                        <td>@item.Id</td>
                        <td> @item.Name</td>
                        <td> @item.Email</td>
                        <td> @item.BornDate</td>
                        <td class="text-center">
                            @if(item.Active == true){
                                <span class="btn btn-sm btn-success">Activo</span>
                            }
                            else{
                                <span class="btn btn-sm btn-danger">Suspenso</span>
                            }
                        </td>
                        <td class="d-flex">
                          
                          
                          <a  class=" btn  btn-primary btn-sm mr-3"
                          asp-action="Edit" asp-route-id="@item.Id">
                            Editar
                          </a>
                          <a asp-controller="Client" asp-action="Borrowings" asp-route-id="@item.Id" class=" btn  btn-info btn-sm mr-3">
                            Empréstimos
                          </a>
                          @* <a  class=" btn  btn-danger btn-sm mr-3">
                            Eliminar
                            </a> *@

                        </td>
                        
                    </tr>
                    }
                    }else{
                        <tr>
                            <td colspan="3" class="text-center">Sem Resultados</td>
                        </tr>
                    }
                </tbody>
              </table>
            </div>
            <div class="mt-2 p-2 w-full d-flex justify-content-center">
              <div class="">
                       <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          @if((int)prevPage==(int)actualPage)
                          {
                            <li class="page-item disabled"><a class="page-link " asp-action="Index" asp-route-page="@prevPage">Anterior</a></li>
                          }else{
                            <li class="page-item"><a class="page-link  " asp-action="Index" asp-route-page="@prevPage">Anterior</a></li>
                          }
                          @for(int i = 1;i <= totalPages; i++)
                          {
                            @if(actualPage.ToString() == i.ToString())
                            {
                              <li class="page-item bg-primary  text-light active"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li> 
                            }
                            else{
                              <li class="page-item  text-light"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li> 
                            }
                          }
                          @if((int)nextPage>totalPages)
                          {
                            <li class="page-item disabled"><a class="page-link  " asp-action="Index" asp-route-page="@nextPage">Próximo</a></li>
                          }else{
                            <li class="page-item"><a class="page-link  " asp-action="Index" asp-route-page="@nextPage">Próximo</a></li>
                          }
                          
                        </ul>
                      </nav> 
              </div>
            </div>

        </div>


    </div>
</main>