@model IEnumerable<Bookstore.Models.AppUser>
@{
    ViewData["Title"] ="Lista de Utilizadores";
    
}

<main class="h-full pb-16 overflow-y-auto">
    <div class="container grid px-0 mx-auto">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 ">
            Lista de Utilizadores
        </h2>

        <!-- TABELA  -->
        <div class="w-full p-3 overflow-hidden bg-white rounded-lg shadow-xs">
            
            <div class="p-2 d-flex justify-content-between align-items">
              <div>
                <a class="btn btn-primary" asp-action="Create">Adicionar Utilizador</a>
              </div>
              
            </div>


            <div class="border rounded">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome de Utilizador</th>
                    <th scope="col">Email</th>
                    <th scope="col">Acções</th>
                  </tr>
                </thead>
                <tbody>
                    @if(Model != null){
                  @foreach(var item in Model){
                    <tr style="color: black;">
                        <td>@item.Id</td>
                        <td> @item.UserName</td>
                        <td> @item.Email</td>
                        <td class="d-flex">
                          
                          
                          <a  class=" btn  btn-primary btn-sm mr-3"
                          asp-action="Edit" asp-route-id="@item.Id">
                            Editar
                          </a>
                          @{
                              var modalId = "modal" + item.Id;
                            }
                          <a class=" btn  btn-danger btn-sm mr-3"
                            role="button" data-toggle="modal" 
                                data-target="#@modalId">
                                Eliminar
                            </a>

                        </td>
                        
                    </tr>

                       <!--  MODAL DE DETALHES-->
                    <div class="modal fade" id="@modalId" role="dialog" 
                        tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabel">Remover Utilizador</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="">
                                  <h4 class="text-center mb-2">Deseja realmente eliminar este Utilizador?</h4>
                                  @* <p class="text-center text-warning " style="font-size:0.8em">Todos os seus emprestimos serão removidos também.</p> *@
                                  <form asp-action="Delete" method="post">
                                    <input type="hidden" name="id" value="@item.Id">
                                    <div class="d-flex justify-content-center">
                                        <input type="submit" value="Eliminar" class="btn btn-danger mr-3">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    </div>
                                  </form>
                           </div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                    <!-- FIM DO MODAL DE DETALHES -->
                    }
                    }else{
                        <tr>
                            <td colspan="3" class="text-center">Sem Resultados</td>
                        </tr>
                    }
                </tbody>
              </table>
            </div>
            <div class="mt-2 p-2 w-full d-flex justify-content-center">
              <div class="">
                       
              </div>
            </div>

        </div>


    </div>
</main>